includes:
    - vendor/nunomaduro/larastan/extension.neon

parameters:
    level: max

    parallel:
        maximumNumberOfProcesses: 4

    paths:
        - src

    ignoreErrors:
        - '#PHPDoc tag @var for variable \$data contains unresolvable type\.#'
